$primary: #CC474E;
$secondary: #0f2862;
$dark: #091f36;
$light: #4f5f76;
$info: #66fcf1;

$khalilah: #fc4445;
$fatherhands: #f2f2f2;
$manthong: #bc986a;
$shimmer: #97caef;
$bertholomule: #afd275;

$theme-colors: (
  khalilah: $khalilah,
  fatherhands: $fatherhands,
  manthong: $manthong,
  shimmer: $shimmer,
  bertholomule: $bertholomule
);

$body-bg: $dark;
