.realms-icon {
  $scale: 0.85;
  $width: 60px * $scale;
  $height: 60px * $scale;

  background-size: 400%;
  background-image: url('../static/game-icons.png');
  background-repeat: no-repeat;
  width: $width;
  height: $height;

  @mixin position($X, $Y) {
    $posX: $X * $width;
    $posY: $Y * $height;
    background-position-x: -$posX;
    background-position-y: -$posY;
  }

  &.pve { @include position(1, 0) }
  &.pvp { @include position(0, 0) }
}
